.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-background);
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: var(--hover-shadow);
}
.card-image-container {
  border-radius: 12px;
  overflow: hidden;
}
.card-image-container:hover {
  transform: scale(1.05);
}

.card-image-container img {
  width: 280px;
  height: 280px;
  border-radius: 12px;
  object-fit: cover;
}

.card-description {
  text-align: center;
  margin-bottom: 12px;
  font-weight: bold;
}

.card-title {
  margin: 12px 0 6px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: var(--text-dark);
}
.main-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  gap: 8px;
  margin: 0 auto;
}
.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6px;
  padding: 10px;
  margin: 5px 0;
  background: var(--primary-color);
  color: var(--card-background);
  border-radius: 10px;
  border: none;
  transition: background 0.3s ease, transform 0.2s ease;
  font-weight: 600;
  text-align: center;
}
.primary-btn:hover {
  background: #0056b3;
  transform: scale(1.03);
  cursor: pointer;
}
.price-strike-through {
  text-decoration: line-through;
  color: var(--secondary-color);
  margin-left: 8px;
}

.discount {
  color: #28a745;
  font-weight: bold;
  margin-left: 5px;
}

.primary-btn:active {
  transform: scale(0.97);
}
