@import "tailwindcss";
:root {
  --primary-color: #007bff;
  --secondary-color: #28a745;
  --text-dark: #222;
  --text-light: #666;
  --background-light: #f0f2f5;
  --card-background: #fff;
  --border-color: #e0e0e0;
  --hover-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
  color: var(--text-dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

h2 {
  font-weight: bold;
}
